body{
  font-family:'Times New Roman', Times, serif, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 130%;
}

nav{
  background-color: #333;
  color: white;
  text-align: left;
}

header{
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
}
main{
  background-color: burlywood;
  text-align: center;
  font-size: 120%;
  padding: 1em;
}
footer{
  background-color: #333;
  color: white;
}
.li{
  display: inline;
  width: 10px;
}
h1{
  color: #ede2e2;
}
p{
  line-height: 1.2em;
}