body{
  font-family:'Times New Roman', Times, serif, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 130%;
}

nav{
  background-color: #d9a92f;
  color: green;
  text-align: left;

}

header{
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
}
main{
  background-color: burlywood;
  text-align: center;
  font-size: 120%;
  padding: 1em;
}
footer{
  background-color: #3318ca;
  color: white;
}
li{
  display: inline;
  width: 10px;
  background-color: rgb(22, 24, 149)
;
}
h1{
  color: #ede2e2;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
p{
  line-height: 1.2em;
}
a{
  color: #ff9b04;
}
